@model ProductAddRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Add Product</h3>
<div class="box-container">

    <h3>Add new product</h3>
    <form asp-controller="products" asp-action="addproduct" method="post">

        <div class="form-field-group">
            <div class="form-row">
                <label asp-for="Name" class="form-label">Product Name</label>
                <input asp-for="Name" class="form-input">
            </div>
            <span asp-validation-for="Name" class="text-red form-span"></span>
        </div>

        <div class="form-field-group">
            <div class="form-row">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" class="form-input" size="30" required>
            </div>
            <span asp-validation-for="Price" class="text-red form-span"></span>
        </div>

        <div class="form-field-group">
            <div class="form-row">
                <label asp-for="AgeGenderGroup" class="form-label">Gender-Age Category</label>
                <select asp-for="AgeGenderGroup" class="form-select" asp-items="ViewBag.AgeGenderGroups">
                    <option value="">--Select age-gender category--</option>
                </select>
            </div>
            <span asp-validation-for="AgeGenderGroup" class="text-red form-span"></span>
        </div>

        <div class="form-field-group">
            <div class="form-row">
                <label asp-for="Brand" class="form-label">Brand</label>
                <input asp-for="Brand" class="form-input" size="30" required>
            </div>
            <span asp-validation-for="Brand" class="text-red form-span"></span>
        </div>

    </form>
</div>